{
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": false,
  "endOfLine": "crlf",
  "bracketSpacing": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80
}
